<launch>
    <!-- Launch the node that publishes PointCloud2 data -->
    <!-- <node pkg="your_package_name" type="pointcloud_publisher_node" name="pointcloud_publisher" output="screen"/> -->

    <!-- Throttle the PointCloud2 topic -->
    <!-- <node pkg="topic_tools" type="throttle" name="pointcloud_throttle" output="screen">
        <param name="intopic" value="/camera/camera/depth/color/pointcloud"/>
        <param name="outtopic" value="rs_pointcloud"/>
        <param name="msgs_per_sec" value="1.0"/> 
    </node> -->
    <node pkg="topic_tools" type="throttle" name="camera_throttle" args="messages /camera/camera/depth/color/points 0.2 rs_pointcloud" output="screen" respawn="true"/>    
</launch>
